/* Page Container */
div.inset-shadow {
    position: relative;
    /* no effect by itself */
}

/* Main Content */
div#content {
    position: absolute;
    top: 90px;
    left: 10px;
    /*10 px from the left, 90px from the top of its parent, */
}

/* Side Bar */
div#sidebar {
    position: absolute;
    top: 120px;
    right: 20px;
}

/* Footer */
footer {
    position: absolute;
    bottom: 15px;
    left: 20px;
}
table#gallery {
    position:absolute;
    top: 55px;
    left: 65px;
}

/* Gallery */
h1.center {
    position: absolute;
    top: 0px;
    left: 320px;
} 

p.tagline {
    position: absolute;
    top: 15px;
    left: 338px;
}